<div data-role="page" id="pageone">
  <div data-role="content">
    <h2>How may I help you, sire?</h2>
    <ul data-role="listview">
      <li><a href="/todo/all">Show me todo list!</a></li>
      <li><a href="/notes/all">Show notes!</a></li>
    </ul>
  </div>
</div>